<!-- Section Title / -->
[% META title = 'Customer' %]
<!-- Section Title / -->
			
<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li><a href="[% c.uri_for(c.controller('home').action_for('index')) %]">MvcTest</a></li>
  <li class="active">Customer</li>
</ol>
<!-- Breadcrumb / -->

<!-- Title -->
<h2 class="cover-heading">Customer</h2>
<!-- Title / -->

<!-- Table -->
<div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>

	<!-- Table Pagination -->
	<div class="text-center">
		<nav>
			<ul class="pagination pagination-sm">
				<!-- <li>
					<a href="#">
						<span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
					</a>
				</li> -->
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<!-- <li>
					<a href="#">
						<span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span>
					</a>
				</li> -->
			</ul>
		</nav>
	</div>
	<!-- Table Pagination / -->

</div><!-- Div / -->
<!-- Table / -->

<script>
	var path = "[% c.uri_for %]";
	var editPath = "[% c.uri_for(c.controller('customer').action_for('editview'))%]";
</script>
<script src="[% c.uri_for('../scripts/customer/main.js') %]"></script>
