<div class="content">
	<div class="main-content">
		<div class="row">
			<div class="col-xs-6">
			  	<div class="page-header"> <h2>Staff View</h2></div>
			  	<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>User Name</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>				
			</div>
			<!-- <div class="col-xs-6">.col-xs-6</div> -->
		</div>
	</div>
</div>
<script>
	var path = "[% c.uri_for %]";
</script>
<script src="[% c.uri_for('../scripts/store/main.js') %]"></script>