[% META title = 'Login' -%]
<div id="loginContent" class="container">
  <div id="loginResult" style="display:none;">
  </div>
  <form id="loginForm" name="loginForm" method="post" action="[% c.uri_for('login') %]">
    <fieldset>
      <legend>Enter information</legend>
      <p>
      <label for="username">Username</label>
      <br />
      <input type="text" id="username" name="username" class="text" size="20" />
      </p>
      <p>
      <label for="password">Password</label>
      <br />
      <input type="password" id="password" name="password" class="text" size="20" />
      </p>
      <p>
      <button type="submit" id="login" class="button positive">
      <img alt="ok" src=
      "http://www.blueprintcss.org/blueprint/plugins/buttons/icons/tick.png" />
      Login
      </button>
      </p>
    </fieldset>
  </form>
</div>
<script language="javascript" src="[% c.uri_for('/scripts/login/login.js') %]"/>
<script>
  
  $("form#loginForm").submit(function() { // loginForm is submitted
    var username = $('#username').attr('value'); // get username
    var password = $('#password').attr('value'); // get password

    if (username && password) { // values are not empty
      $.ajax({
        type: "GET",
        url: "account/login", // URL of the Perl script
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        // send username and password as parameters to the Perl script
        data: "username=" + username + "&password=" + password,
        // script call was *not* successful
        error: function(XMLHttpRequest, textStatus, errorThrown) { 
          $('div#loginResult').text("responseText: " + XMLHttpRequest.responseText 
            + ", textStatus: " + textStatus 
            + ", errorThrown: " + errorThrown);
          $('div#loginResult').addClass("error");
        }, // error 
        // script call was successful 
        // data contains the JSON values returned by the Perl script 
        success: function(data){
          if (data.foo.error == '1') { // script returned error
            $('div#loginResult').text("data.error: " + data.foo.message);
            $('div#loginResult').addClass("error");
          } // if
          else { // login was successful
            $('form#loginForm').hide();
            $('div#loginResult').text("data.success: " + data.foo.message 
              + ", data.userid: " + data.foo.userid);
            $('div#loginResult').addClass("success");
          } //else
        } // success
      }); // ajax
    } // if
    else {
      $('div#loginResult').text("enter username and password");
      $('div#loginResult').addClass("error");
    } // else
    $('div#loginResult').fadeIn();
    return false;
  });
</script>
