          <!-- Section Title / -->
          [% META title = 'Sing In' %]
          <!-- Section Title / -->

          <!-- Sing Up -->
          <form class="form-signin" name="loginForm" method="post" action="[% c.uri_for('login') %]">
            <h2 class="form-signin-heading text-center">Sign In</h2>
            <!-- Username -->
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon">
                <i class="fa fa-user fa-fw"></i>
              </span>
              <label for="username" class="sr-only">Username</label>
              <input type="text" id="username" class="form-control" placeholder="Username" name="username"required autofocus>
            </div>
            <!-- Username / -->

            <!-- Password -->
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon">
                <i class="fa fa-key fa-fw"></i>
              </span>
              <label for="password" class="sr-only">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <!-- Password /-->

            <!-- Remember me -->
            <div class="checkbox text-center">
              <label>
                <input type="checkbox" value="remember-me">Remember me
              </label>
            </div>
            <!-- Remember me /-->

            <!-- Submit -->
            <button class="btn btn-default btn-block" type="submit">Sign In</button>
            <!-- Submit /-->

          </form>
          <!-- Sing Up / -->

          <!-- LogIn Script -->
          <script type="text/javascript" src="[% c.uri_for('/scripts/login/login.js') %]"></script>
          <!-- LogIn Script / -->