          <!-- Section Title / -->
          [% META title = 'Home' %]
          <!-- Section Title / -->

          <!-- Home -->
          <div class="inner cover text-center">
            <h1 class="cover-heading">This are other important links.</h1>
            <!--p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p-->
            <p class="lead">
              <a href="https://github.com/Lukz07/perlTest" class="btn btn-default btn-lg" target="new">Github</a>
              <!--a href="#" class="btn btn-lg btn-primary">Learn more</a-->
            </p>
          </div>
          <!-- Home / -->
